.input-group {
    margin-bottom: 20px;
    ::ng-deep {
        input, .p-dropdown {
            min-width: 300px!important;
        }
    }
    .text-error {
        color: red;
    }
}
.padding-plus{
    margin-right: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    color: rgb(84, 212, 212);
}