%base-icon {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: var(--red-500);
    }
}

:host {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    min-height: 70px;
    box-shadow: 0 5px 10px lightgray;

    #left-menu {
        i {
            @extend %base-icon;
        }
    }

    h1 {
        font-size: 1.4rem;
    }

    #user-menu {
        i {
            @extend %base-icon;
        }
    }
}