:host {
    > div {
        display: flex;
        //gap: 20px;
    }
    .input-group {
        margin-bottom: 20px;
        ::ng-deep {
            input, .p-dropdown {
                min-width: 300px;
            }
        }
        .text-error {
            color: red;
        }
    }
}