<div>
    <div class="p-float-label">
        <input list="suggestions" [value]="value?.streetName" (click)="onTouch()" (input)="onStreetChange($event)" pInputText [disabled]="disabled">
        <label for="street">Rue</label>
    </div>
    <div class="p-float-label">
        <input [value]="value?.streetNumber" (click)="onTouch()" (input)="onNumberChange($event)" pInputText [disabled]="disabled">
        <label for="number">Numero</label>
    </div>
</div>
<div>
    <div class="p-float-label">
        <input [value]="value?.unit" (click)="onTouch()" (input)="onUnitChange($event)" pInputText [disabled]="disabled">
        <label for="number">Unit</label>
    </div>
    <div class="p-float-label">
        <input [value]="value?.unitNumber" (click)="onTouch()" (input)="onUnitNumberChange($event)" pInputText [disabled]="disabled">
        <label for="number">Unit number </label>
    </div>
    <div class="p-float-label">
        <input [value]="value?.apartment" (click)="onTouch()" (input)="onApartmentChange($event)" pInputText [disabled]="disabled">
        <label for="number">Appartment </label>
    </div>
</div>
<div>
    <div class="p-float-label">
        <input [value]="value?.city" (click)="onTouch()" (input)="onCityChange($event)" pInputText [disabled]="disabled">
        <label for="number">City</label>
    </div>
    <div class="p-float-label">
        <input [value]="value?.zipCode" (click)="onTouch()" (input)="onZipcodeChange($event)" pInputText [disabled]="disabled">
        <label for="number">Zip code</label>
    </div>
    <div class="p-float-label">
        <input [value]="value?.country" (click)="onTouch()" (input)="onCountryChange($event)" pInputText [disabled]="disabled">
        <label for="number">Country</label>
    </div>
</div>

<datalist id="suggestions">
    @for (item of suggestions; track $index) {
        <option>{{item.display_name}}</option>
    }
</datalist>
